<!DOCTYPE html>
<html>
 <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
 <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
 <script type='text/javascript' src="../static/js/jquery-1.11.1.min.js"></script>
 <!-- <script type='text/javascript' src="../static/js/jquery-1.12.4.js"></script> -->
 <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
 <script type="text/javascript" src="../static/js/prebid.js" async></script>

<body onload = "generic('me',{{data}})">
        <div class="col-sm-4 col-sm-offset-4 frame" >
         <div style="max-height: 450px;">   <ul></ul></div>
            
                <div class="msj-rta macro" style="margin:auto">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>
                    
                </div>
            </div>
        </div>     
    </body>
</html>
